<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../include/design/head %>
</head>
<body>

	
	<div class="topnav">
            <div class="row">
                <div class="col-md-4 col-sm-4  col-xs-4">
                    <div class="logo">
                        <a href="javascript:;">
                            <span style="border-bottom:3px solid #F00;">Test Shopify App</span>
                        </a>
                    </div>
                </div>
                
                <div class="col-md-8 col-sm-8  col-xs-8 right"> 
                    <div class="loginbox" style="margin-top:10px;">
                    	
                        <a href="javascript:;" style="color:#FFF;">
                            <span class="avatar">Welcome to Test Shopify App</span>
                        </a>
                            
                    </div>
                </div>
                
            </div>
    </div>
	
	
	<div class="row purplebg listings">
            <div class="col-md-8 col-md-offset-2 col-sm-12  col-xs-12">
                <div class="main-tab-menu">
                    
                    <div id="myTabContent" class="tab-content">
                        <div class="tab-pane fade in active" id="profile">
                            
    
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="main-listing">                                
                                        
                                        <div class="row">
                                            <div class="col-md-12">
                                                <h1>Install Test Shopify App Here</h1> 
                                            </div>
                                        </div>
                                        
                                        <div class="row firstlisting">
                                        
                                            <img class="bulk_page_post_logo" src="/logo-cps-site.png">
                                             
                                            <form method="GET" action="/authorize" id="installfrm">
                                              <label for='shop'><strong>Enter your myshopify URL here</strong> 
                                                <span class="hint">(enter it exactly like this: mystore.myshopify.com)</span> 
                                              </label> 
                                              <p> 
                                              	<input type="text" class="form-control" size="45" id="shop" name="shop" value="" required>
                                                 
                                              </p> 
                                              <div class="row">
                                              	<button type="submit" name="commit" value="Install Now" class="btn btn-success btn-lg btn-block install_app_btn"><i class="fa fa-download"></i> Install Now</button>
												
                                              </div>
                                            </form>
                                            
                                        </div>  
                                        
                                        
                                </div>
                            
                            
                            </div>
                            
                        </div>
                    </div>
    
                </div>
                
                <div class="row">
                    <div class="center">
                        <a href="javascript:;">
                        	<span style="border-bottom:3px solid #F00; color:#fff;">Test Shopify App</span>
                        </a>
                    </div>
                </div>
    
            </div>
        </div>
		</div>

		
	</body>
</html>
	
	
	