
<div class="row">
                    <div class="center">
                        <a href="javascript:;">
                            <span style="border-bottom:3px solid #F00; color:#fff;">&copy; Copyright 2018 Test Shopify App</span>
                            
                        </a>
                    </div>
</div>