<meta charset="UTF-8">
<title>Test Shopify App</title>

<!-- CSS -->
<link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="/bootstrap/css/bs.css" rel="stylesheet">

<!---jQuery UI Plugin --->
<link href="/jquery-ui/jquery-ui.css" rel="stylesheet">

<!---jQuery Validation Plugin--->
<link href="/jquery-validation/demo/css/screen.css" rel="stylesheet">

<!---Custom Style Css--->
<link href="/style.css" rel="stylesheet">

<!---Wickedpicker Plugin (Time Picker)--->
<link href="/wickedpicker/dist/wickedpicker.min.css" rel="stylesheet">



<!-- js -->

<script type="text/javascript" src="/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="/bootstrap/js/bootstrap.min.js"></script>

<!---jQuery UI Plugin --->
<script src="/jquery-ui/jquery-ui.js"></script>

<!---Wickedpicker Plugin (Time Picker)--->
<script src="/wickedpicker/dist/wickedpicker.min.js"></script>

<!---jQuery Validation Plugin--->
<script src="/jquery-validation/lib/jquery.js"></script>
<script src="/jquery-validation/dist/jquery.validate.js"></script>

<!---Custom jQuery Calls Handler--->
<script src="/js.calls/jquery.function.calls.js"></script>

<!---Custom javascript Calls Handler--->
<script src="/js.calls/jscript.function.calls.js"></script>