<ul id="maintab" class="nav nav-pills">
    <li class="active"><a href="/">Home</a></li>
	<li class="active"><a href="/pages/nt_setting">Notice Time/Delivery Time Setting</a></li>
	<li class="active"><a href="/pages/del_days_setting">Delivery Days Setting</a></li>
	<li class="active"><a href="/pages/blackout_days_setting">Blackout Days Setting</a></li>
	<li class="active"><a href="/pages/live_del_datetime">View Live Delivery Date Time</a></li>
	<li class="active"><a href="/pages/live_del_datetime_cart">View Live Delivery Date Time cart</a></li>
</ul> 